<section id="contact" class="bg-accent">
  <div class="container contact__container">
    <h2 class="contact__title animate-element" data-animation="fade-up">
      Начните прямо сейчас с бесплатным 5–и дневным пробным периодом!
    </h2>
    <form
      class="contact__wrapper-input animate-element"
      data-animation="fade-left"
      data-delay="200"
    >
      <div class="contact__wrapper-input">
        <input
          type="text"
          placeholder="Ваш e–mail"
          class="contact__form-input"
        />
        <button type="reset" class="btn-main contact__btn">
          зарегистрироваться
        </button>
      </div>
    </form>
  </div>
</section>
