<section class="bg-white">
  <div class="container faq__container">
    <h2 class="title-section animate-element" data-animation="fade-up">
      часто задаваемые вопросы
    </h2>

    <ul class="faq__accordion">
      <li
        class="faq__accordion-item active animate-element"
        data-animation="fade-up"
        data-delay="200"
      >
        <div class="faq__accordion-header">
          <h3>Что такое TradeBlade</h3>
          <span class="faq__chevron"
            ><svg width="24" height="24">
              <use href="./img/sprite.svg#chevron" /></svg
          ></span>
        </div>
        <p class="faq__accordion-content">
          Мы опытная команда, для которой трейдинг – профессия. TradeBlade
          является авторизованным официальным брокером биржи Binance.<br /><br />
          Он представляет пользователям множество преимуществ, таких как более
          високая скорость синхронизации API и возможность создать учетную
          запись Binance через платформу TradeBlade всего в 1 клик.
        </p>
      </li>

      <li
        class="faq__accordion-item animate-element"
        data-animation="fade-up"
        data-delay="300"
      >
        <div class="faq__accordion-header">
          <h3>Что TradeBlade предлагает инвесторам</h3>
          <span class="faq__chevron"
            ><svg width="24" height="24">
              <use href="./img/sprite.svg#chevron" /></svg
          ></span>
        </div>
        <p class="faq__accordion-content">
          TradeBlade предлагает инвесторам широкий спектр инструментов для
          торговли, включая быстрый доступ к рынку, профессиональные графики и
          аналитику, а также персональную поддержку.
        </p>
      </li>

      <li
        class="faq__accordion-item animate-element"
        data-animation="fade-up"
        data-delay="400"
      >
        <div class="faq__accordion-header">
          <h3>Должен ли я перевести свои средства на TradeBlade</h3>
          <span class="faq__chevron"
            ><svg width="24" height="24">
              <use href="./img/sprite.svg#chevron" /></svg
          ></span>
        </div>
        <p class="faq__accordion-content">
          Перевод средств на TradeBlade является добровольным решением.
          Платформа обеспечивает безопасность ваших средств и предлагает
          дополнительные преимущества для трейдинга, но окончательное решение
          остается за вами.
        </p>
      </li>
    </ul>
  </div>
</section>
