<footer class="footer">
  <div class="container footer__container">
    <div class="footer__top">
      <p class="footer__text">Быстрая навигация</p>
      <nav>
        <ul class="footer__nav-list">
          <li>
            <a href="#numbers">цифры</a>
          </li>
          <li>
            <a href="#transactions">сделки онлайн</a>
          </li>
          <li>
            <a href="#about">о компании</a>
          </li>
          <li>
            <a href="#start-using">как начать</a>
          </li>
          <li>
            <a href="#tariffs">тарифы</a>
          </li>
          <li>
            <a href="#reviews">отзывы</a>
          </li>
          <li>
            <a href="#faq">faq</a>
          </li>
        </ul>
      </nav>
    </div>
    <hr class="footer__line" />
    <div class="footer__bottom">
      <a href="/">
        <img
          src="./img/logo.svg"
          width="164"
          height="80"
          alt="logo trade blade"
          class="footer__logo"
        />
      </a>
      <p class="footer__copyright">© 2022 TradeBlade. All rights reserved</p>
    </div>
  </div>
</footer>
