<section>
  <div class="container hero">
    <img
      src="./img/hero.svg"
      alt=""
      width="300px"
      height="134px"
      class="hero__img"
    />
    <div>
      <h1 class="hero__title-main">
        моментально Копируй сделки профи трейдеров
      </h1>
      <p class="hero__subtitle">
        Начни копировать сделки с успешной командой профессиональных трейдеров в
        автоматическом режиме.
      </p>
      <form class="hero__input-wrapper">
        <input
          type="text"
          placeholder="Ваш e–mail"
          class="hero__input"
        /><button type="reset" class="hero__input-btn btn-main">начать</button>
      </form>
      <p class="hero__free-trial">5 дней бесплатного пользования</p>
    </div>
  </div>
</section>
