<section>
  <div class="container hero">
    <img
      src="./img/hero.svg"
      alt=""
      width="300px"
      height="134px"
      class="hero__img animate__animated animate__fadeInBottomRight"
    />
    <div>
      <h1 class="hero__title-main animate__animated animate__fadeInLeft">
        моментально Копируй сделки профи трейдеров
      </h1>
      <p
        class="hero__subtitle animate__animated animate__fadeInLeft animate__delay-1s"
      >
        Начни копировать сделки с успешной командой профессиональных трейдеров в
        автоматическом режиме.
      </p>
      <form
        class="hero__input-wrapper animate__animated animate__fadeInUp animate__delay-2s"
      >
        <input
          type="text"
          placeholder="Ваш e–mail"
          class="hero__input"
        /><button type="reset" class="hero__input-btn btn-main">начать</button>
      </form>
      <p
        class="hero__free-trial animate__animated animate__fadeInUp animate__delay-2s"
      >
        5 дней бесплатного пользования
      </p>
    </div>
  </div>
</section>
