<section id="numbers" class="bg-corner-white">
  <div class="bg-white">
    <div class="container numbers__container">
      <div
        class="numbers__title-wrapper animate-element"
        data-animation="fade-up"
      >
        <h2 class="title-section">Цифры</h2>
        <p class="numbers__subtitle">Cентябрь 2022</p>
      </div>
      <ul class="numbers__list">
        <li class="numbers__item animate-element" data-animation="fade-up">
          <h3 class="numbers__item-title">Торговой прибыли</h3>
          <p class="numbers__item-subtitle">2756%</p>
        </li>
        <li
          class="numbers__item animate-element"
          data-animation="fade-up"
          data-delay="200"
        >
          <h3 class="numbers__item-title">фьючерсных и спотовых сделок</h3>
          <p class="numbers__item-subtitle">67</p>
        </li>
        <li
          class="numbers__item animate-element"
          data-animation="fade-up"
          data-delay="400"
        >
          <h3 class="numbers__item-title">прибыль подписчиков</h3>
          <p class="numbers__item-subtitle">375000</p>
        </li>
      </ul>
    </div>
  </div>
</section>
