<section id="reviews">
  <div class="container reviews__container">
    <h2
      class="title-section reviews__title animate-element"
      data-animation="fade-up"
    >
      Отзывы учасников комьюнити
    </h2>
    <ul class="reviews__list">
      <li
        class="reviews__item animate-element"
        data-animation="fade-up"
        data-delay="200"
      >
        <div class="reviews__wrapper-img">
          <img
            src="./img/webp/review-1.webp"
            alt="avatar author"
            width="70"
            height="81"
          />
        </div>
        <div>
          <h3 class="reviews__item-title">@ArtemGuriev</h3>
          <p class="reviews__item-subtitle">Общая прибыль 3043.27 USD</p>
          <p class="reviews__item-text">
            Я запустил спот-бота 5 января. За 25 дней я заработал более 3 тысяч
            на споте без единого убытка и без страха ликвидации. Большое спасибо
            TradeBlade за создание такого замечательного бота.
          </p>
        </div>
      </li>
      <li
        class="reviews__item animate-element"
        data-animation="fade-up"
        data-delay="300"
      >
        <div class="reviews__wrapper-img">
          <img
            src="./img/webp/review-2.webp"
            alt="avatar author"
            width="70"
            height="81"
          />
        </div>
        <div>
          <h3 class="reviews__item-title">@gWagon</h3>
          <p class="reviews__item-subtitle">Общую прибыль не афиширует</p>
          <p class="reviews__item-text">
            Попробовал. Понравилось. Рекомендую ли я? Да. Но адектватно понимаю,
            что чем больше людей тем может быть меньше прибыли...
          </p>
        </div>
      </li>
      <li
        class="reviews__item animate-element"
        data-animation="fade-up"
        data-delay="400"
      >
        <div class="reviews__wrapper-img">
          <img
            src="./img/webp/review-3.webp"
            alt="avatar author"
            width="70"
            height="81"
          />
        </div>
        <div>
          <h3 class="reviews__item-title">@XPonse</h3>
          <p class="reviews__item-subtitle">Общую прибыль не афиширует</p>
          <p class="reviews__item-text">
            Мой капитал 2к. Если я получаю 10 долларов в день, то за месяц я
            зарабатываю 300 долларов. То есть 15% в месяц, что мне более чем
            достаточно.
          </p>
        </div>
      </li>
      <li
        class="reviews__item animate-element"
        data-animation="fade-up"
        data-delay="500"
      >
        <div class="reviews__wrapper-img">
          <img
            src="./img/webp/review-4.webp"
            alt="avatar author"
            width="70"
            height="81"
          />
        </div>
        <div>
          <h3 class="reviews__item-title">@sanyaMnS</h3>
          <p class="reviews__item-subtitle">Общая прибыль 4 405.96 USD</p>
          <p class="reviews__item-text">
            Сначала немного расстроился ибо заработал 4$ с одной крупной сделки.
            Но зато понял что все равно в плюсе. На следующей сделке все
            полетело вверх.
          </p>
        </div>
      </li>
    </ul>
    <button type="button" class="btn-secondary reviews__btn">
      Загрузить больше отзывов
    </button>
  </div>
</section>
