<section id="start-using" class="bg-corner-accent">
  <div class="bg-accent">
    <div class="container start-using__container">
      <h2
        class="title-section start-using__title animate-element"
        data-animation="fade-up"
      >
        Как начать пользоваться сервисом
      </h2>

      <ul class="start-using__list">
        <li
          class="start-using__item animate-element"
          data-animation="fade-up"
          data-delay="200"
        >
          <h3 class="start-using__item-title">Создайте аккаунт</h3>
          <p class="start-using__item-description">
            Начните бесплатную 3-дневную пробную версию. Кредитная карта не
            требуется.
          </p>
          <span class="start-using__item-line"></span>
        </li>
        <li
          class="start-using__item animate-element"
          data-animation="fade-up"
          data-delay="300"
        >
          <h3 class="start-using__item-title">Подключить обмен API ключами</h3>
          <p class="start-using__item-description">
            Просто вставьте свои ключи API из личного кабинета.
          </p>
          <span class="start-using__item-line"></span>
        </li>
        <li
          class="start-using__item animate-element"
          data-animation="fade-up"
          data-delay="400"
        >
          <h3 class="start-using__item-title">Настройте аккаунт</h3>
          <p class="start-using__item-description">
            Поставьте нужные настройки депозита на каждый сигнал и нажмите
            сохранить.
          </p>
          <span class="start-using__item-line"></span>
        </li>
        <li
          class="start-using__item animate-element"
          data-animation="fade-up"
          data-delay="500"
        >
          <h3 class="start-using__item-title">Ваш копитрейдер запущен</h3>
          <p class="start-using__item-description">
            Просто расслабьтесь и начните получать пассивный доход от
            криптовалюты с помощью TradeBlade
          </p>
        </li>
      </ul>
      <a
        href="#contact"
        class="btn-main start-using__btn animate-element"
        data-animation="fade-up"
        data-delay="600"
        >Попробовать бесплатно</a
      >
    </div>
  </div>
</section>
