<section>
  <div class="container tradeblade__container">
    <h2
      class="title-section tradeblade__title animate-element"
      data-animation="fade-up"
    >
      tradeblade это
    </h2>
    <ul class="tradeblade__list">
      <li
        class="tradeblade__item animate-element"
        data-animation="fade-up"
        data-delay="200"
      >
        <div>
          <svg width="56" height="56">
            <use href="./img/sprite.svg#trade-1" />
          </svg>
        </div>

        <div class="tradeblade__item-wrapper">
          <h3 class="tradeblade__item-title">Копи–трейдинг 24/7</h3>
          <p class="tradeblade__item-description">
            Copy–Trading позволяет следить за сделками команды и получать
            прибыль 24/7 без каких–либо усилий или проблем для вас.
          </p>
        </div>
      </li>
      <li
        class="tradeblade__item animate-element"
        data-animation="fade-up"
        data-delay="300"
      >
        <div>
          <svg width="56" height="56">
            <use href="./img/sprite.svg#trade-2" />
          </svg>
        </div>

        <div class="tradeblade__item-wrapper">
          <h3 class="tradeblade__item-title">
            Торговля спотовыми и фьючерсными сделками
          </h3>
          <p class="tradeblade__item-description">
            Платформа для копи–трейдинга поддерживает торговлю как спотовыми,
            так и фьючерсными сделками на Binance.
          </p>
        </div>
      </li>
      <li
        class="tradeblade__item animate-element"
        data-animation="fade-up"
        data-delay="400"
      >
        <div>
          <svg width="56" height="56">
            <use href="./img/sprite.svg#trade-3" />
          </svg>
        </div>

        <div class="tradeblade__item-wrapper">
          <h3 class="tradeblade__item-title">Высокая прибыль каждий день</h3>
          <p class="tradeblade__item-description">
            Каждая сделка показывает хорошие результаты на рынках за счет
            хорошего денежного и риск менеджмента.
          </p>
        </div>
      </li>
      <li
        class="tradeblade__item animate-element"
        data-animation="fade-up"
        data-delay="500"
      >
        <div>
          <svg width="56" height="56">
            <use href="./img/sprite.svg#trade-4" />
          </svg>
        </div>

        <div class="tradeblade__item-wrapper">
          <h3 class="tradeblade__item-title">Собственный курс по трейдингу</h3>
          <p class="tradeblade__item-description">
            Мы хотим менять комьюнити, улучшать его. В личном кабинете на сайте
            вы найдете наш собственный курс по криптовалютам, который поможет
            увереннее понимать наши сигналы и разрабатывать свои.
          </p>
        </div>
      </li>
      <li
        class="tradeblade__item animate-element"
        data-animation="fade-up"
        data-delay="600"
      >
        <div>
          <svg width="56" height="56">
            <use href="./img/sprite.svg#trade-5" />
          </svg>
        </div>

        <div class="tradeblade__item-wrapper">
          <h3 class="tradeblade__item-title">Сильное окружение</h3>
          <p class="tradeblade__item-description">
            Ты попадаешь в сильное крипто окружение, ведь развиваться легче
            когда нас много. В чате присутствуют люди из нашей команды, которые
            общаються со всеми, помагают и подсказывают.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
