<section id="transactions">
  <div class="container transactions__container">
    <div>
      <div
        class="transactions__title-wrapper animate-element"
        data-animation="fade-up"
      >
        <h2 class="title-section transactions__title">Прошедшие сделки</h2>
        <p class="transactions__subtitle">Онлайн</p>
      </div>

      <div class="swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="swiper-slide__text-container">
              <h3 class="swiper-slide__title">NEAR/USDT</h3>
              <p class="swiper-slide__subtitle">SPOT · 1 мин. назад</p>
            </div>
            <div class=".swiper-slide__profit-container">
              <p class="swiper-slide__profit">Прибыль</p>
              <p class="swiper-slide__percent">58.6206%</p>
            </div>
            <div class="swiper-slide__footer">
              <p class="swiper-slide__profit">Цель 1</p>
              <p class="swiper-slide__date">Дата входа 06.10.2022</p>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="swiper-slide__text-container">
              <h3 class="swiper-slide__title">BTC/USDT</h3>
              <p class="swiper-slide__subtitle">SPOT · 1 мин. назад</p>
            </div>
            <div class=".swiper-slide__profit-container">
              <p class="swiper-slide__profit">Прибыль</p>
              <p class="swiper-slide__percent">6.02%</p>
            </div>
            <div class="swiper-slide__footer">
              <p class="swiper-slide__profit">Цель 2</p>
              <p class="swiper-slide__date">Дата входа 06.10.2022</p>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="swiper-slide__text-container">
              <h3 class="swiper-slide__title">ETH/USDT</h3>
              <p class="swiper-slide__subtitle">SPOT · 1 мин. назад</p>
            </div>
            <div class=".swiper-slide__profit-container">
              <p class="swiper-slide__profit">Прибыль</p>
              <p class="swiper-slide__percent">16.3%%</p>
            </div>
            <div class="swiper-slide__footer">
              <p class="swiper-slide__profit">Цель 3</p>
              <p class="swiper-slide__date">Дата входа 06.10.2022</p>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="swiper-slide__text-container">
              <h3 class="swiper-slide__title">NEAR/USDT</h3>
              <p class="swiper-slide__subtitle">SPOT · 1 мин. назад</p>
            </div>
            <div class=".swiper-slide__profit-container">
              <p class="swiper-slide__profit">Прибыль</p>
              <p class="swiper-slide__percent">0.963%</p>
            </div>
            <div class="swiper-slide__footer">
              <p class="swiper-slide__profit">Цель 4</p>
              <p class="swiper-slide__date">Дата входа 06.10.2022</p>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="swiper-slide__text-container">
              <h3 class="swiper-slide__title">NEAR/USDT</h3>
              <p class="swiper-slide__subtitle">SPOT · 1 мин. назад</p>
            </div>
            <div class=".swiper-slide__profit-container">
              <p class="swiper-slide__profit">Прибыль</p>
              <p class="swiper-slide__percent">58.6206%</p>
            </div>
            <div class="swiper-slide__footer">
              <p class="swiper-slide__profit">Цель 5</p>
              <p class="swiper-slide__date">Дата входа 06.10.2022</p>
            </div>
          </div>
        </div>
        <div class="swiper-scrollbar"></div>
      </div>
    </div>
  </div>
</section>
