:root {
  --bg-main-color: #030718;
  --bg-secondary-color: #030718;
  --bg-white-color: #fff;
  --accent-color: #6a54ff;
  --text-main-color: #fff;
  --text-gray-color: #a5aebc;
  --button-color: #57e1ff;
  --button-bg-secondary-color: rgba(87, 225, 255, 0.2);
  --green-color: #35ff9e;
  --input-bg-color: #201a4f;
  --input-bg-30-color: rgba(32, 26, 79, 0.3);
  --bg-card-reviews-color: rgba(234, 239, 240, 0.2);
}

body {
  font-family: 'IBMPlex', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--bg-main-color);
  color: var(--text-main-color);
}

html {
  scroll-behavior: smooth;
}

* {
  transition: all 0.2s ease-in-out;
}

.btn-main {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.25;
  text-transform: uppercase;
  border-radius: 3px;
  background-color: var(--button-color);
  box-shadow: 0px 0px 4px 0px var(--button-color);
  color: var(--bg-main-color);
}

.btn-secondary {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.25;
  text-transform: uppercase;
  border-radius: 3px;
  background-color: var(--button-bg-secondary-color);
  box-shadow: 0px 0px 4px 0px var(--button-color);
  color: var(--button-color);
}

.title-section {
  font-size: 28px;
  font-weight: 700;
  line-height: 1.28;
  letter-spacing: -1.12px;
  text-transform: uppercase;
  color: var(--bg-main-color);
}

.bg-white {
  background-color: var(--bg-white-color);
}

.bg-accent {
  background-color: var(--accent-color);
}

.bg-corner-white {
  padding-top: 24px;
  background-image: url(../img/bg-white-mobile.svg);
  background-repeat: no-repeat;
}

.bg-corner-accent {
  padding-top: 24px;
  background-image: url(../img/bg-accent-mobile.svg);
  background-repeat: no-repeat;
}

.animate-element {
  opacity: 0;
  transform: translateY(30px);
}

.animate-element.animated {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.6s ease, transform 0.6s ease;
}

@media only screen and (min-width: 1440px) {
  .title-section {
    font-size: 44px;
    letter-spacing: -1.76px;
    text-transform: uppercase;
  }

  .bg-corner-white {
    padding-top: 60px;
    background-image: url(../img/bg-white-desktop.svg);
  }

  .bg-corner-accent {
    padding-top: 60px;
    background-image: url(../img/bg-accent-desktop.svg);
  }
}
