:root {
  --bg-main-color: #030718;
  --bg-secondary-color: #030718;
  --accent-color: #6a54ff;
  --text-main-color: #fff;
  --button-color: #57e1ff;
  --button-bg-secondary-color: rgba(87, 225, 255, 0.2);
  --green-color: #35ff9e;
}

body {
  font-family: 'IBMPlex', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--bg-main-color);
  color: var(--text-main-color);
}

* {
  transition: all 0.2s ease-in-out;
}

.btn-main {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.25;
  text-transform: uppercase;
  border-radius: 3px;
  background-color: var(--button-color);
  box-shadow: 0px 0px 4px 0px var(--button-color);
  color: var(--bg-main-color);
}

.btn-secondary {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.25;
  text-transform: uppercase;
  border-radius: 3px;
  background-color: var(--button-bg-secondary-color);
  box-shadow: 0px 0px 4px 0px var(--button-color);
  color: var(--button-color);
}
